// output
NET "a"  LOC = P51 | IOSTANDARD = LVTTL;
NET "b"  LOC = P41 | IOSTANDARD = LVTTL;
NET "ci" LOC = P35 | IOSTANDARD = LVTTL;
// input
NET "s"  LOC = P30 | IOSTANDARD = LVTTL;
NET "co" LOC = P33 | IOSTANDARD = LVTTL;