//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 02 23:28:28 2018
//! **************************************************************************

SCHEMATIC START;
COMP "ci" LOCATE = SITE "P35" LEVEL 1;
COMP "co" LOCATE = SITE "P33" LEVEL 1;
COMP "s" LOCATE = SITE "P30" LEVEL 1;
COMP "a" LOCATE = SITE "P51" LEVEL 1;
COMP "b" LOCATE = SITE "P41" LEVEL 1;
SCHEMATIC END;

