// output
NET "a" LOC = P51;
NET "a" IOSTANDARD = LVTTL;
NET "b" LOC = P41;
NET "b" IOSTANDARD = LVTTL;
NET "ci" LOC = P35;
NET "ci" IOSTANDARD = LVTTL;
// input
NET "s" LOC = P30;
NET "s" IOSTANDARD = LVTTL;
NET "co" LOC = P33;
NET "co" IOSTANDARD = LVTTL;
